<!DOCTYPE html>
<html>
	<head>
		<title>Accedi al blog</title>
	</head>
	<body>
		<form method="post">
			<table>
        <tr>
          <td class="label">
            Username
          </td>
          <td>
            <input type="text" name="username" value="{{username}}">
          </td>
        </tr>

        <tr>
          <td class="label">
            Password
          </td>
          <td>
            <input type="password" name="password" value="">
          </td>
        </tr>
      </table>
      <div>{{error}}</div>
			<input type="submit">
		</form>
	</body>
</html>